@import "../../variables";

.footer {
  background: $primary url(../../../images/footer/top.svg) top center repeat-x;
  margin-top: $size-1;
  padding-top: $size-1 * 2;
  .column {
    background-color: rgba($primary, 0.5);
  }
  h2 {
    font-family: $family-secondary;
    font-size: $size-2;
    text-transform: uppercase;
    margin-bottom: $size-6;
  }
  .company {
    font-size: $size-7;
    h3 {
      font-size: $size-6;
    }
    address {
      font-style: normal;
    }
    span {
      font-weight: $weight-bold;
    }
    a {
      color: $primary-invert;
      text-decoration: underline;
    }
  }
  .social-follow {
    li {
      display: inline-block;
      i {
        font-size: $size-2;
        padding-right: $size-3;
        color: $primary-invert;
      }
      span {
        display: none;
      }
    }
  }
}
