@import "../../variables";

.locales-menu {
  text-align: right;
  background-color: $primary;
  color: $primary-invert;
  font-family: $family-secondary;
  font-size: $size-5;
  ul {
    display: inline-block;
    margin-left: $size-6;
    li {
      display: inline-block;
      text-transform: uppercase;
      margin-right: $size-7;
      a {
        color: $primary-invert;
      }
    }
  }
}
