@import "../../variables";

.page-content {
  margin-bottom: $size-2;
  .container {
    margin-bottom: $size-2;
  }
  .title {
    line-height: $size-1;
    font-family: $family-secondary;
    font-size: $size-1;
    text-transform: uppercase;
  }
  .subtitle {
    line-height: $size-2;
  }
  .text {
    p {
      line-height: $size-3;
    }
  }
}
