@import "../../../variables";

.child {
  margin-top: $size-1;
  margin-bottom: $size-1;
  .title {
    font-family: $family-secondary;
    font-size: $size-1;
    text-transform: uppercase;
    letter-spacing: $size-7;
    text-align: right;
    padding: $size-2 $size-2 0 $size-2;
  }
  .subtitle {
    padding: 0 $size-2 $size-2 $size-2;
    text-align: right;
  }
  .text {
    padding: $size-3;
  }
}
