@import "../../../variables";

.lady {
  background: $white url("../../../../images/section/lady-bg.png") repeat-x center center;
  background-attachment: fixed;
  .graphic {
    padding: $size-2;
  }
  .content {
    font-size: $size-5;
    padding: $size-2;
    .title {
      font-family: $family-secondary;
      font-size: $size-1;
      text-transform: uppercase;
      letter-spacing: $size-7;
    }
    .subtitle {
      font-family: $family-secondary;
      font-size: $size-2;
      letter-spacing: $size-7;
    }
    .divider {
      text-align: center;
      margin-top: $size-2;
      margin-bottom: $size-2;
    }
  }
}
