@import "../../../variables";

.mom {
  background: $white url("../../../../images/section/mom-bg.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  .graphic {
    margin: $size-2 0 0 0;
    text-align: right;
    background: transparent url("../../../../images/section/mom.png") no-repeat bottom right;
    background-size: contain;
    min-height: 60vh;
  }
  .content {
    color: $primary-invert;
    background-color: $primary;
    font-size: $size-5;
    padding: $size-2;
    margin: $size-2;
    .title {
      font-family: $family-secondary;
      font-size: $size-1;
      text-transform: uppercase;
      letter-spacing: $size-7;
      color: $primary-invert;
    }
    .subtitle {
      color: $primary-invert;
      font-family: $family-secondary;
      font-size: $size-2;
      letter-spacing: $size-7;
    }
  }
}
