@import "~bulma/sass/utilities/initial-variables";

$grey-darker: rgb(29, 29, 29);
$white: rgb(255, 255, 255);
$red: rgb(117, 37, 63);
$yellow: rgb(255, 253, 237);
$green: rgb(1, 127, 0);
$orange: rgb(186, 78, 4);
$primary: $red;
$primary-invert: $yellow;
$text: $grey-darker;
$info: $grey-darker;
$success: $green;
$danger: $red;
$warning: $yellow;
$link: $text;
$family-sans-serif: "Playfair Display", serif;
$family-primary: $family-sans-serif;
$family-secondary: "Mouse Memoirs", sans-serif;
$weight-light: 400;
$weight-normal: 500;
$weight-medium: 600;
$weight-semibold: 700;
$weight-bold: 900;
$title-weight: $weight-light;
$title-color: $primary;
$text-strong: $grey-darker;
$footer-background-color: $primary;
$footer-color: $primary-invert;
$navbar-background-color: $primary;
$navbar-item-color: $primary-invert;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: $primary-invert;
$navbar-item-active-color: $primary;
$navbar-item-active-background-color: $primary-invert;
$navbar-height: $size-1 * 2;
$navbar-burger-color: $yellow;
$navbar-burger-width: $navbar-height / 3;
$navbar-burger-height: $navbar-height / 30;
$subtitle-color: $grey-darker;
$section-padding: $size-1 $size-4;
$card-radius: 0;
$card-shadow: none;
