@import "@pittica/scss-functions";

@import "../../variables";

.menu {
  h1 {
    cursor: default;
    &.title {
      text-align: center;
      margin: ($size-1 * 2) 5%;
      &:before,
      &:after {
        display: block;
        content: "\e900";
        font-family: cucinaretro;
        font-size: $size-1 * 3;
        color: $primary-invert;
        position: absolute;
        background-size: cover;
        z-index: -1;
      }
      &:before {
        @include rotate(180);
        right: 5%;
        top: -$size-1;
      }
      &:after {
        top: -$size-1;
      }
    }
  }
  .section {
    h2 {
      &.title {
        background: url("../../../images/menu/subtitle/primary.svg") no-repeat left center;
        text-transform: uppercase;
        letter-spacing: $size-6 / 2;
        margin-bottom: $size-2;
        padding: $size-1;
      }
    }
    h6 {
      text-transform: uppercase;
      font-weight: $weight-bold;
    }
    &:after {
      display: block;
      font-family: cucinaretro;
      content: "\e901";
      font-size: $size-1 * 4;
      text-align: center;
      width: 100%;
      color: $primary;
    }
    &:nth-child(even) {
      h2 {
        &.title {
          background-image: url("../../../images/menu/subtitle/secondary.svg");
        }
      }
      &:after {
        content: "\e902";
      }
    }
  }
  .notes {
    text-align: right;
    margin-top: $size-2;
    font-style: oblique;
  }
}
