@import "@pittica/scss-functions";

@import "../variables";

.food-menu {
  h1 {
    &.title {
      text-align: center;
      margin: ($size-1 * 2) 5%;
      &:before,
      &:after {
        display: block;
        content: " ";
        position: absolute;
        background: url("../../images/menu/ornament-title.svg");
        background-size: cover;
        width: $size-1 * 3;
        height: $size-1 * 3;
        z-index: -1;
      }
      &:before {
        @include rotate(180);
        right: 5%;
        top: -$size-1;
      }
      &:after {
        top: -$size-1;
      }
    }
  }
  .section {
    h2 {
      &.title {
        background: url("../../images/menu/ornament-section.svg") no-repeat left center;
        text-transform: uppercase;
        letter-spacing: $size-6 / 2;
        margin-bottom: $size-2;
        padding: $size-1;
      }
    }
    h6 {
      text-transform: uppercase;
      font-weight: $weight-bold;
    }
    &:after {
      display: block;
      content: " ";
      width: 100%;
      background: url("../../images/menu/divider.svg") no-repeat center center;
      height: $size-1;
      margin-top: $size-1 * 2;
    }
    &:nth-child(even) {
      h2 {
        &.title {
          background-image: url("../../images/menu/ornament-section-alternate.svg");
        }
      }
      &:after {
        background-image: url("../../images/menu/divider-alternate.svg");
      }
    }
  }
  .notes {
    text-align: right;
    margin-top: $size-2;
    font-style: oblique;
  }
}
