@import "@pittica/scss-functions";
@import "../../variables";

@import "~bulma/sass/utilities/mixins";

.navbar-item {
  text-transform: uppercase;
  font-family: $family-secondary;
  letter-spacing: 0.1rem;
  font-size: $size-6 + $size-7;
  text-align: right;
  padding-left: $size-4;
  padding-right: $size-4;
  @include transition();
  @include until($desktop) {
    color: $primary;
  }
  &.sticky {
    span {
      border: ($size-7 / 5) solid $primary-invert;
      padding: $size-7;
      @include until($desktop) {
        padding: 0;
        border: none;
      }
    }
  }
}
