@import "../../variables";

@import "~bulma/sass/utilities/mixins";

.navbar {
  .navbar-menu {
    &.is-active {
      position: relative;
      z-index: 0;
      @include until($desktop) {
        background-color: $primary-invert;
      }
    }
  }
}
